html body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000c15;
    color: white;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
}

object {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #000c15;
}

#audio {
    width: 80vw;
}

#light {
    width: 20vw;
}

#overlay-button {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 5px;
    position: absolute;
    color: white;
    right: 30px;
    bottom: 15px;
    background-color: rgb(34, 0, 66);
    border-radius: 5px;
}

#fullscreen-icon {
    width: 30px;
    height: auto;
}

#overlay-button:hover {
    cursor: pointer;
}

@media screen and (orientation:landscape) {
    #audio {
        width: 90vw;
    }

    #light {
        width: 10vw;
    }
}